html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 40%;
    height: auto;
    min-width: 250px;
    position: relative;
    border-radius: 10px;
    border: 2px solid dodgerblue;
    padding: 1rem;
}

.form {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.text,
.email {
    flex: 1 0 10rem;
}

.button {
    flex: 1 0 5rem;
    background-color: dodgerblue;
    color: white;
}